*{
	transition: 0.2s all;
}
body{
	background: #BBC9C1;
}
h1,p{
	font-family: 'Arimo', sans-serif;
	color: white;
	margin: 50px;
}
p{
	margin: 5px 50px;
}
h1{
	font-size: 60px;
	margin-bottom: 0;
}
section{
	margin: 50px;
	position: relative;
	/* opacity and size */
	height:240px;
	width:640px;
}
.circle{
	background: #000000;
	border-radius: 120px;
	float:left;
	position: absolute;
	/* opacity and size */
	opacity: 0.4;
	height:240px;
	width:240px;
}
.circle:first{
	left: 20px;
}
.circle:nth-child(2){
	left: 60px;
}
.circle:nth-child(3){
	left: 120px;
}
.circle:nth-child(4){
	left: 180px;
}
.circle:nth-child(5){
	left: 240px;
}
.circle:nth-child(6){
	left: 300px;
}
.circle:nth-child(7){
	left: 360px;
}
.circle:hover{
	opacity: 0.3;
	background: #ef22ef;
	z-index: 5;
}
.circle:hover ~ .circle:before{
	opacity: 0.3;
	background: #ef22ef;
	z-index: 5;
}

