*{
	margin: 0;
}
body{
	background: white;
}
section{
	background: #bd1515;
	position: relative;
	margin: 0 auto;
	height: 500px;
	width: 500px;
}
.triangle{
	position: absolute;
	border-style: solid;
	float: left;
}
.topleft{
	border-width: 400px 300px 0 0;
	border-color: #f59631 transparent transparent transparent;
	z-index: 2;
}
/*.topright{
	border-width: 0 300px 460px 0;
	border-color: transparent #eb7b1a transparent transparent;
	float: right;
	left: 200px;
	z-index: 2;
	float: right;
}*/
.inner:nth-child(1){
	border-width: 0 300px 460px 0;
	border-color: transparent yellow transparent transparent;
	float: right;
	left: 200px;
	float: right;
}

.topleft:hover{
	transition: 0.2s all;
	box-shadow: 10px 10px 10px 0 #000;
}