@import url(reset.css);
* {
  -webkit-box-sizing: border-box; }

html {
  height: 100%; }

body {
  background: rgba(0, 0, 0, 0.3);
  height: 768px;
  width: 1366px;
  padding: 0;
  margin: 0; }

main {
  height: 430px;
  width: 100%;
  padding: 0;
  margin: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  padding: 0 7.5px;
  margin: 0; }

header,
footer {
  position: relative;
  height: 120px;
  width: 100%;
  background: blue; }

section {
  background: #333333;
  display: block;
  width: 100%; }

header {
  background: red;
  top: 0; }

footer {
  bottom: 0; }
